.nav-bar{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .profile-img{
    width: 100px;
    height: 102px;
    border-radius: .5rem;
    margin: 1rem;
  }

  .icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .icon-link{
    width: 60px;
    height: 60px;
  }
  
  .icons{ 
    margin:1rem;
    width: 40px;
    height: 40px;
    transition: 0.4s; 
  }
  
  .icons:hover{
    width: 50px;
    height: 50px;
  }
  