.projects-container{
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: repeat(
    auto-fill, minmax(420px, 1fr));
    justify-items: center;
    align-items: center; 
  }

  .project-container{
    margin-top: 2rem;
    position: relative;
  }

  .project{
    color: white;
    background-color: #57886c;
    margin-top: 2rem;
    width: 400px;
    height: 300px;
    padding-top: 20px;
    border-radius: .5rem;
    box-shadow: 5px 5px 6px black;
  }
  .project h4{
     text-align: center;
  }

  .project-header{
    color: white;
    background-color: #34568B;
    text-align: center;
    position: absolute;
    box-shadow: 8px 5px 15px black;
    width: 200px;
    left: 100px;
    text-decoration: none;
    border-radius: .5rem;
  }

  .project-header:hover{
    box-shadow: 5px 5px 6px black;
  }

  .project-text{
    color: #f6fbf8;
    margin: 1rem;
  }