
body{
  box-sizing: border-box;
}

.main-back-ground-color {
  min-height: 100vh;
  color: black;

}

.project-header{
  color: white;
  background-color: #34568B;
  text-align: center;
  position: absolute;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  width: 200px;
  left: 100px;
  text-decoration: none;
  border-radius: .5rem;
}

.space-between{
  justify-content: space-between;
}

