
body{
  box-sizing: border-box;
}
.main-back-ground-color {
  background-color: whitesmoke;
  min-height: 100vh;
  color: black;

}

.profile-img{
  width: 100px;
  height: 102px;
  border-radius: .5rem;
  margin: 1rem;
}

.nav-bar{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.icons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.icon-div{
  width: 60px;
  height: 60px;
}

.icons{
  width: 40px;
  height: 40px;
  margin: 1rem;
  transition: 0.4s; 
 
}

.icons:hover{
  width: 50px;
  height: 50px;
}

.project{
  width: 300px;
  background-color:aliceblue;
  margin: 1rem;
  box-shadow: 0px 5px 5px 5px #d3d2d0;
}